<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    this is for the file dir of all saved files look to text connector
    -->
    <add key="filePath" value="C:\Users\Will\Documents\DATA\PROJECTS\Portfolio\C#\Tournament_Project\TournamentTracker\Data"/>
  </appSettings>
  <connectionStrings>
    <!-- The below add is connection strings which add to the database the name which usually same as db then location 
    the xml below tells dapper the sql helper what to get how to get and where to get from
    -->
    <add name="Tournaments" connectionString="Server=WILL-DESKTOP-PC;Database=Tournaments;Trusted_connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>